<app-header [textColor]="fontColor" [bgColor]="value"></app-header>
<div class="container">
  <div class="contents">
    <h3>About</h3>
    <p>This tool helps to determine wheter a text is black or white based on the background color. The way this tool works is to first determine the background brightness then set the color, you can visit this project <a href="#" target="_blank" [ngStyle]="{color:aColor}"><b>repository</b></a> to learn more about it, or if you like it you can give a star.
      Feel free to ask questions or provide suggestions by creating an <a href="#" target="_blank" [ngStyle]="{color:aColor}"><b>issue</b></a> in this project repository.<p>
  </div>
  <div class="contents">
    <h3>Select Background Color</h3>
    <form [formGroup]="bgColorForm" (ngSubmit)="submit()">
      <div class="input-container">
        <label name="bg-color">Background Color</label>
        <input type="color" name="bg-color" formControlName="bgColor"/><span *ngIf="show" [ngStyle]="{color: aColor}">{{value}}</span>
        <div class="error-list" *ngIf="fc['bgColor'].errors && isSubmited">
          <p *ngIf="fc['bgColor'].errors['required']">Please pick a color!</p>
        </div>
        <button type="submit" [ngStyle]="{'background-color':value,color:fontColor}">Submit</button>
      </div>
    </form>
    <div class="result" *ngIf="show" [ngStyle]="{'background-color':value,color:fontColor,'border-color':borderColor}">This background color is match with {{fontColor}} text color</div>
  </div>
</div>
